body{
      background-color: rgb(25, 25, 25);
      color: white;
      font-family: arial;
    }
    .title{
      font-size: 30px;
      font-weight: bold;
    }
   .move-icon{
    height: 50px;
   }
    .move-button{
      background-color: black;
      border: 3px solid white;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
    }
    .result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 60px;
    }
    .score{
      margin-top: 60px;
    }
    .reset-score-button{
      background-color: white;
      border: none;
      font: 15px;
      padding: 8px 15px;
      cursor: pointer;
    }